{{> head}}
<body>
<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Головна</a></li>
            <li><a href="/add/user">Додати гравця</a></li>
            <li id="new-game"><a href="/delete" >Очистити і почати спочатку</a></li>
        </ul>
    </div>
</nav>


    <div class="container">
        {{{body}}}
    </div>

{{> footer}}
</body>
</html>